.area_ganador {
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}

.area_formulario {
    padding-top: 25px;
    padding-bottom: 40px;

    form {
        text-align:center;
        button {
            width: 50px;
            height: 50px;
            margin-bottom: 4px;
        }
    }
}

.area_botonReiniciar {
    text-align: center;
}